.home_container {
  display: block;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  background-color: #f9f9f9;
  color: black;
}

.p_item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  cursor: pointer;
  color: rgb(10, 10, 10);
}