.home_container {
  display: block;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

.p_item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  cursor: pointer;
}