.items_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
  }
  
  .card {
      display: block;
      width: 300px;
      margin: 10px;
      padding: 10px;
      border: 1px solid black;
      border-radius: 5px;
      background-color: white;
      color: black;
      position: relative;
    }
  
  .items_container .card img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      border-radius: 5px;
    
    } 
  
  .items_container .card h3{
      text-align: center;
      text-transform: uppercase;
      margin: 10px 0;
      font-size: 25px;
  }
  
  .p_description {
      text-align: center;
      margin-top: 10px 0;
      font-size: 15px;
  }
  
  .p_price {
      text-align: center;
      margin: auto;
      font-size: 25px;
  }  
  
  .button_home {
    width: 50%;
    background-color: #ccc;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;  
      
  }