.container_login {
    display: block;
    justify-content: center;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-size: medium;
    background-color: #f9f9f9;
    color: black;
}

.form_login {
    align-items: center;
    display: block;
    width: 100%;
    max-width: 330px;
    padding: 15px;
}

.form_login input {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgba(203, 232, 241, 0.6);
}
.button_login {
    width: 50%;
    background-color: #ccc;
    margin-top: 10px;
}

