.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.title{
    font-size: 36px;
    margin: 20px 0;
}

.message{
    font-size: 18px;
    margin: 20px 0;
}

.button{
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #ccc;
}

